:root {
  cursor: default;
  user-select: none;
  display: flex;
  height: 100%;
}

body {
  margin: auto;
  font-size: 0.8rem;
  font-family:
    "Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light",
    "Noto Sans", __MSG_FONT_FAMILY__, sans-serif;
  background-color: #f0f0f0;
  overflow: hidden;
  outline: 3px double #bbb;
  outline-offset: 16px;
}

table {
  border-collapse: collapse;
  white-space: nowrap;
  font-weight: bold;

  th {
    color: #ddd;
    background-color: #222;
  }

  td {
    color: #222;
    background-color: #ddd;

    tr:nth-child(odd) & {
      background-color: #eee;
    }
  }

  th,
  td {
    padding: 8px 16px;
  }
}

.level {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  border: 1px solid #000;

  &::before,
  &::after {
    z-index: 1;
    position: relative;
    margin: 2px 4px;
    font-weight: normal;
    color: #fff;
  }

  &::before {
    content: "__MSG_MANUAL_SIMILARITY_HIGH__";
  }

  &::after {
    margin-left: auto;
    content: "__MSG_MANUAL_SIMILARITY_LOW__";
  }
}

.level-color {
  &::before,
  &::after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
  }

  &::before {
    --high-color: #ff8040;
    --low-color: rgb(from var(--high-color) b g r);
    left: 0;
    background: linear-gradient(
      to right in oklch,
      var(--high-color) 20%,
      var(--low-color) 80%
    );
  }

  &::after {
    right: 0;
    background-color: #ccc;

    .level.high & {
      width: 66%;
    }

    .level.medium & {
      width: 33%;
    }

    .level.low & {
      display: none;
    }
  }
}

#footer {
  padding: 32px 0 8px 8px;
  margin-right: -1px;
  position: relative;

  img {
    display: block;
    width: 100%;
    image-rendering: pixelated;
  }

  #version {
    position: absolute;
    bottom: 23px;
    right: 8px;
    opacity: 0.3;
  }
}
